<!DOCTYPE html>
<html>
<head>
  <title>SimpleBlog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', defer: true %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">SimpleBlog</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to 'Статьи', articles_path, class: 'nav-link' %>
          </li>
          <% if current_user %>
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to 'Новая статья', new_article_path, class: 'nav-link' %>
              </li>
            <% end %>
            <li class="nav-item">
              <span class="nav-link">Привет, <%= current_user.name %></span>
            </li>
            <li class="nav-item">
              <%= form_with url: logout_path, method: :delete, class: "d-inline" do %>
                <%= submit_tag "Выйти", class: "btn btn-link nav-link", data: { confirm: "Вы уверены?" } %>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Войти', login_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Регистрация', signup_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
